<div class="contanier" >
    <div class="row">
        <div class="col-6 offset-3">
            <h1>Agregar una nueva noticia</h1>
            <form method="post" action="/admin/novedades/agregar">
            <div class="form-group">
                  <label>Titulo:</label>
                <input type="text" placeholder="Titulo" class="form-control" name="titulo">
            <div class="form-group">
                  <label>Subtitulo:</label>
                 <textarea type="text" placeholder="Subtitulo" class="form-control" name="subtitulo"> </textarea>
            </div>
            <div class="form-group">
                  <label>Cuerpo:</label>
                <textarea type="text" placeholder="Cuerpo" class="form-control" name="cuerpo"> </textarea>
            </div>
            <button type="submit" class"btn btn-primary" id="enviar">Agregar</button>
            </form>
        </div>
    </div>

    {{#if error}}
    <h2 style="color: white;">{{message}}</h5>
    {{/if}}