<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>:::Realidad Virtual:::</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="/stylesheets/estilo.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/admin.css" rel="stylesheet" type="text/css">
</head>

<body>



<div id="contenedor">
<div id="encabezado">

<div id="nav-sociales">
    <ul> 
       <li><a href="http://www.facebook.com" target="_blank"><img src="/images/facebook.png" width="35" height="35" alt="Face"></a></li>
      
       <li><a href="http://www.youtube.com" target="_blank"><img src="/images/youtube.png" width="35" height="35" alt="Youtube"></a></li>
       
       <li><a href="http://www.twitter.com" target="_blank"><img src="/images/twitter.png" width="35" height="35" alt="Twitter"></a></li>
       
       <li><a href="http://www.instagram.com" target="_blank"><img src="/images/instagram.png" width="35" height="35" alt="Insta"></a></li>
                 
    </ul>
</div><!--cierra nav-sociales-->

</div><!--Cierra encabezado-->


<main class="holder">
  {{{body}}}
</main>

<footer>

Cristian Falcón

</footer>

  
  </body>
</html> 