
<link href="/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css">
<script src="/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<body>


<div id="centro">

  <div id="TabbedPanels1" class="TabbedPanels"> <!--Abre menu spry-->
  
    <ul class="TabbedPanelsTabGroup">
      <li class="TabbedPanelsTab" tabindex="0">Espectroscopio</li>
      <li class="TabbedPanelsTab" tabindex="0">Link Trainer</li>
      <li class="TabbedPanelsTab" tabindex="0">Sensorama</li>
<li class="TabbedPanelsTab" tabindex="0">Microsoft Holenses</li>
</ul>
    <div class="TabbedPanelsContentGroup">
      <div class="TabbedPanelsContent"> <!--Abre ficha 1-->
        
        
        <div class="textos">
        <img src="/images/vr 1.JPG" width="319" height="253">	
        <p>Un espectroscopio, es un instrumento que sirve para medir las propiedades de la luz en una determinada porción del espectro electromagnético. La variable que se mide generalmente es la intensidad luminosa, pero se puede medir también, por ejemplo, el estado de polarización electromagnética. La variable independiente suele ser la longitud de onda de la luz, generalmente expresada en submúltiplos del metro, aunque algunas veces pueda ser expresada en cualquier unidad directamente proporcional a la energía del fotón, como la frecuencia o los electrón-voltios que mantienen una relación inversa con la longitud de onda. Se utilizan espectrómetros en espectroscopia para producir líneas espectrales y medir sus longitudes de onda e intensidades.</p>
        
<p>Esta herramienta se puede usar para ver los espectros de emisión generados por los elementos al absorber o emitir fotones energéticos. De las frecuencias de onda, un muy pequeño prisma es visible al ojo humano, entre los rayos ultravioleta y los infrarrojos; el espectrómetro da una visión más clara de estos. </p>
        
         </div> <!--Cierra textos-->

      </div> <!--Cierra ficha 1-->
      <div class="TabbedPanelsContent"><!--Abre ficha 2--> 
        <img src="/images/link trainer vr 2.JPG" width="392" height="247">
<div class="textos">
  <p>Debido a que los vuelos reales son peligrosos para pilotos sin un entrenamiento previo, desde los primeros días de la aviación, diversos esquemas fueron usados para que los pilotos pudieran sentir la sensación de volar sin ser realmente aerotransportados. Por ejemplo el "Sander Teacher" fue un aeroplano completo montado en una articulación universal que era orientado hacia el viento con capacidad de girar y de inclinarse libremente. Otro simulador de vuelo de los primeros días fue desarrollado en 1910 a partir de un barril montado en un marco. </p>
<p>Un buen número de dispositivos electromecánicos fueron probados durante la Primera Guerra Mundial y posteriormente. El más conocido es el "Link Trainer", el que en 1930 sólo simulaba movimientos mecánicos, aunque posteriormente se le incluyeron instrumentos de control y fue utilizado por algunos países durante la Segunda Guerra Mundial e incluso después. </p>

        
       </div> <!--Cierra textos-->

      
      </div> <!--Cierra ficha 2-->
      
      <div class="TabbedPanelsContent"> <!--Abre ficha 3-->
        <img src="/images/Sensorama VR3.JPG" width="300" height="220">
<div class="textos">
  
<p>El Sensorama era una máquina, fue uno de los primeros ejemplos conocidos de inmersión, multi-sensoriales (ahora conocido como la tecnología multimodal). Morton Heilig, que hoy en día sería considerado como un especialista "multimedia" , en la década de los años 50 vio el teatro como una actividad que podría abarcar todos los sentidos de una manera eficaz, elaborando así al espectador en la actividad en pantalla. Él lo llamó "Experiencia Teatral", y detalló su visión de teatro multi-sensorial. En 1955 su trabajo titulado "El Cine del Futuro" (Robinett 1994). En 1962 se construyó un prototipo de su visión, conocido como el Sensorama, junto con cinco cortometrajes que se mostraban en el mismo. Anteriores a la computación digital, el Sensorama era un dispositivo mecánico, que todavía funciona. Hoy se sabe que muchas personas lo ven como un atari que es una máquina de videojuegos. Howard Rheingold (en su libro de 1992 Realidad Virtual) habló en su juicio del Sensorama utilizando una pieza cortometraje que detallaba un viaje en bicicleta a través de Brooklyn, creado en la década de 1950, y todavía parecía muy impresionado por lo que podría hacer más de 40 años después. El Sensorama fue capaz de mostrar estereoscópica 3-D imágenes en una vista de gran ángulo, ofrecen inclinando el cuerpo, el suministro de sonido estéreo, y también tenía pistas para la energía eólica y aromas que se activará durante la película. Por extraño que parezca, en retrospectiva, Heilig no pudo obtener apoyo financiero para sus visiones y de patentes, y el proyecto Sensorama se detuvo y hoy sigue siendo principalmente una curiosidad en la tradición expansiva de la realidad virtual.</p>
        
       </div> <!--Cierra textos-->

      
      </div> <!--Cierra ficha 3-->
      
<div class="TabbedPanelsContent"> <!--Abre ficha 4-->
  <img src="images/Microsoft Hololens vr 4.JPG" width="350" height="197">
<div class="textos">
  
 <p> Conocido en desarrollo como Proyecto Baraboo , es un par de lentes inteligentes de realidad mixta desarrollados y fabricados por Microsoft . HoloLens fue la primera pantalla montada en la cabeza que ejecuta la plataforma Windows Mixed Reality en el sistema operativo de computadora Windows 10 . La tecnología de rastreo utilizada en HoloLens puede rastrear su linaje hasta Kinect , un complemento para la consola de juegos Xbox de Microsoft que se introdujo en 2010.  </p>
 
<p> La versión de preproducción de HoloLens, la edición de desarrollo, se envió el 30 de marzo de 2016 y está dirigida a desarrolladores en los Estados Unidos y Canadá por un precio de lista de $ 3000.  Samsung y Asus han extendido una oferta a Microsoft para ayudar a producir sus propios productos de realidad mixta, en colaboración con Microsoft, basados en el concepto y el hardware de HoloLens.  El 12 de octubre de 2016, Microsoft anunció la expansión global de HoloLens y anunció que HoloLens estaría disponible para preordenar en Australia, Irlanda, Francia, Alemania, Nueva Zelanda y el Reino Unido. </p>

<p> El HoloLens es una unidad de pantalla montada en la cabeza conectada a una diadema interior acolchada y ajustable, que puede inclinar HoloLens hacia arriba y hacia abajo, así como hacia adelante y hacia atrás. Para usar la unidad, el usuario se coloca las HoloLens en la cabeza, usando una rueda de ajuste en la parte posterior de la diadema para asegurarla alrededor de la corona, apoyando y distribuyendo el peso de la unidad por igual para mayor comodidad, antes inclinando la visera hacia el frente de los ojos.</p>

        
       </div> <!--Cierra textos-->

</div> <!--Cierra ficha 4-->

</div>
  </div> 
  <!--Cierra menu spry-->
</div><!--Cierra centro-->


<script type="text/javascript">
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>

</body>