<div id="centro">

<div id="caja1">

<h1>Bienvenido al mundo de la realidad virtual </h1>
<h2>¿Preparadx para esta nueva experiencia?</h2>

<p>La realidad virtual (RV) es un entorno de escenas u objetos de apariencia real. La acepción más común refiere a un entorno generado mediante tecnología informática, que crea en el usuario la sensación de estar inmerso en él. Dicho entorno es contemplado por el usuario a través de un dispositivo conocido como gafas o casco de realidad virtual. Este puede ir acompañado de otros dispositivos, como guantes o trajes especiales, que permiten una mayor interacción con el entorno así como la percepción de diferentes estímulos que intensifican la sensación de realidad. </p>

<p> El término realidad virtual (RV) se popularizó a finales de la década de 1980 por Jaron Lanier, uno de los pioneros del campo. Al mismo tiempo, también apareció el término Realidad Artificial (RA). 1​ En 1982 el término ciberespacio fue acuñado en una novela por W. Gibson. La Enciclopedia Británica describe la realidad virtual como "el uso del modelado y la simulación por computadora que permite a una persona interactuar con un entorno sensorial tridimensional (3D) artificial u otro entorno sensorial". 2​ Además, establece que "las aplicaciones de realidad virtual sumergen al usuario en un entorno generado por computadora que simula la realidad mediante el uso de dispositivos interactivos, que envían y reciben información y se usan como gafas, auriculares, guantes o trajes para el cuerpo". Por ejemplo, un usuario que usa una pantalla montada en la cabeza con un sistema de proyección estereoscópica puede ver imágenes animadas de un entorno virtual. Un término importante es presencia o telepresencia, que se puede describir como una ilusión de "estar allí" </p>

</p>
 </div><!--cierra caja1-->

<div id="caja2">

<h3>Toda una aventura por recorrer</h3>

<p>La realidad virtual puede llevarse a cabo a través de diferentes métodos como pueden ser: un simulador o un avatar, la proyección de imágenes reales, mediante un ordenador o la inmersión en un entorno virtual.
</p>

<p>También se aplica a diversas áreas, incluyendo industria para adultos​, arte, educación​, entretenimiento y videojuegos así como narrativas interactivas, milicia, educación, y medicina. Debido al crecimiento latente es predecible que llegue a cubrir otras industrias.
</p>

<p>Diversas empresas están trabajando actualmente sobre productos de realidad virtual. Algunos están en fase de desarrollo, otros disponibles comercialmente</p>

</div><!--cierra caja2-->

<div id="caja3">

<table>
  <iframe width="237" height="188" src="https://www.youtube.com/embed/LpQYs54IY5Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</table>
</div><!--cierra caja3-->


</div><!--Cierra centro-->