<div id="centro">

<div id="caja4">


<h2>HTC VIVES</h2>

<p>En 2014 se mostraron prototipos de un sistema de realidad virtual producido por la empresa Valve. El 23 de febrero de 2015 se anunció que se enseñaría durante la Game Developers Corference de ese año un sistema de hardware de SteamVR. Más tarde, el 1 de marzo de 2015, HTC reveló oficialmente el Vive.1 Antes de la versión para consumidores se fabricó el Vive PRE, que fue gratuito para algunos desarrolladores de videojuegos.</p>

<p>HTC afirma que el Vive tiene una frecuencia de actualización de 90 Hz. El dispositivo utiliza dos pantallas, una para cada ojo, cada una con una resolución de 1080x1200.</p>


  <img src="/images/HTC VIVES.JPG" width="268" height="150"> 
 </div><!--cierra caja4-->

<div id="caja5">

<h2>Samsung Gear VR</h2>

<p>Samsung Gear VR es un casco de realidad virtual desarrollado por Samsung Electronics en colaboración con Oculus VR.
Su primera versión comercial salió al mercado en noviembre de 2015. Posteriormente salieron nuevas versiones en agosto de 2016 y marzo de 2017. </p>

<p>La unidad funciona introduciendo en su interior ciertos modelos de teléfono de Samsung de gama alta, como el Galaxy  y algunos modelos del Galaxy Note. Se puede usar con o sin controlador de mano. El controlador de mano requiere constantes calibraciones en caliente (mientras se usa pulsado el boton de recalibrado), lo cual se puede considerar un fallo importante del dispositivo. </p>


<img src="/images/Samsung gear VR.JPG" width="280" height="150"> </div><!--cierra caja5-->

<div id="caja6">

<h2>Oculus</h2>

<p>Oculus VR es una compañía estadounidense que desarrolla tecnología de realidad virtual, fundada por Palmer Luckey , Brendan Iribe , Michael Antonov, Jack McCauley y Nate Mitchell en julio de 2012 en Irvine, California, actualmente su sede se encuentra en Menlo Park. Oculus VR se especializa en productos de software y hardware de realidad virtual. </p>

<p>En abril de 2012, Luckey anunció su primer producto, el Oculus Rift, un casco de realidad virtual, el cual permite una experiencia inmersiva en realidad virtual diseñado para videojuegos. La compañía, lanzó una campaña de Kickstarter en agosto para poner los auriculares de realidad virtual a disposición de los desarrolladores. </p>


<img src="/images/Oculus.JPG" width="280" height="150"> </div><!--cierra caja6-->
</div><!--Cierra centro-->